@page "/history"
@inject BlazorBattles50.Client.Services.IBattleService BattleService


<h3>History</h3>

<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Attacker</th>
            <th>Opponent</th>
            <th>Rounds</th>
            <th>Damage</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var entry in BattleService.History)
        {
            <tr style="@GetHistoryStyle(entry)">
                <td>@entry.BattleDate</td>
                <td>@entry.AttackerName</td>
                <td>@entry.OpponentName</td>
                <td>@entry.RoundsFought</td>
                <td>@entry.WinnerDamageDealt</td>
                <td>@(entry.YouWon?"You won!":"You lost!")</td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await BattleService.GetHistory();
    }

    string GetHistoryStyle(BlazorBattles50.Shared.BattleHistoryEntry entry)
    {
        if (entry.YouWon)
            return "color:green; font-weight: 600;";
        else
            return string.Empty;
    }
}
